---
---

@import "{{ site.theme }}";

#header {
	display: none;
}

.credits {
	display: none;
}

section { margin: 0; }
section #title { margin-bottom: 0 }

code {
	margin: 0 1px;
	padding: 4px 1px;
}
